@font-face{
    font-family: corbel;
    src: url("../font/corbel.ttf");
}
@font-face{
    font-family: corbelb;
    src: url("../font/corbelb.ttf");
}
@font-face{
    font-family: corbeli;
    src: url("../font/corbeli.ttf");
}
@font-face{
    font-family: corbelz;    
    src: url("../font/corbelz.ttf");
}